* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black !important;
    color: #fff !important;
}

body {
    --sb-track-color: #191919;
    --sb-thumb-color: #a915c3;
    --sb-size: 7px;
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 8px;
}

body {
    background-color: black !important;
    color: #fff !important;
}

/* ---------------- HOME PAGE CSS ----------------  */
.cont {
    width: 75%;
    margin-inline: auto !important;
}

.main_cont {
    margin-inline: auto !important;
    padding-top: 2rem;
    padding-left: 12rem;
}

.hero_title {
    margin-top: 7.5rem;
    line-height: 1.1 !important;
}

.hero_text {
    line-height: 1.6 !important;
}

.gradent {
    background: rgb(182, 1, 212) !important;
    background: linear-gradient(180deg, rgba(182, 1, 212, 1) 21%, rgba(79, 39, 177, 1) 83%) !important;
}


@media only screen and (max-width: 600px) {
    .cont {
        width: 90%;
        margin-inline: auto !important;
    }
}
